<%# Страница добавления данных %>


<div class="header">
  <div class="container">

    <div class="header-logo">
      <h1 class="header-title"><%= link_to "На главную", users_path, class: 'button button-light button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Студент", students_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Договор", contracts_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Комната", rooms_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Пропуск", badges_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Гость", guests_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Оплата", payments_index_path, class: 'button-small' %></h1>
    </div>

    <div class="header-nav">
      <%= link_to 'Выйти', log_in_path, class: 'button button-light button-small' %>
    </div>
  </div>
</div>

<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Добавить студента</h1>

  <div class="column-1-2">

    <%= form_for(@student) do |f| %>

      <% if @student.errors.any? %>
        <div class="form-errors">
          <ul>
            <% for message in @student.errors.full_messages %>
              <li class="form-error-message"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-field">
        <%= f.label :surname, 'Фамилия', class: 'form-label' %>
        <%= f.text_field :surname, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :name, 'Имя', class: 'form-label' %>
        <%= f.text_field :name, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :patronymic, 'Отчество', class: 'form-label' %>
        <%= f.text_field :patronymic, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :date_birth, 'Дата рождения', class: 'form-label' %>
        <%= f.date_field :date_birth, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :country_residense, 'Страна', class: 'form-label' %>
        <%= f.text_field :country_residense, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :citizenchip,'Гражданство', class: 'form-label' %>
        <%= f.text_field :citizenchip, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :passport, 'Паспорт', class: 'form-label' %>
        <%= f.text_field :passport, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :address, 'Адрес', class: 'form-label' %>
        <%= f.text_field :address, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :phone_number, 'Телефон', class: 'form-label' %>
        <%= f.text_field :phone_number, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :sex_id, 'Пол', class: 'form-label' %>
        <%= f.text_field :sex_id, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :room_id, '№ комнаты', class: 'form-label' %>
        <%= f.number_field :room_id, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :group_id, '№ группы', class: 'form-label' %>
        <%= f.number_field :group_id, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :badge_id, '№ пропуска', class: 'form-label' %>
        <%= f.text_field :badge_id, class: 'form-text-field' %>
      </div>

      <div class="form-action buffer-top">
        <%= f.submit 'Сохранить', class: 'button button-dark button-small' %>
      </div>
    <% end %>

  </div>
</div>
