

<div class="header">
  <div class="container">

    <div class="header-logo">
      <h1 class="header-title"><%= link_to "На главную", users_path, class: 'button button-light button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Студент", students_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Договор", contracts_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Комната", rooms_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Пропуск", badges_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Гость", guests_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Оплата", payments_index_path, class: 'button-small' %></h1>
    </div>

    <div class="header-nav">
      <%= link_to 'Выйти', log_in_path, class: 'button button-light button-small' %>
    </div>
  </div>
</div>

<div class="content-wrapper buffer-both text-left">
  <div class="buffer-both">
    <h1>Комната</h1>
  </div>
</div>

<div class="container">

  <% if flash.any? %>
    <div class="content-wrapper buffer-both">
      <% flash.each do |name, message| %>
        <%= content_tag :div, message, class: "flash-#{name}" %>
      <% end %>
    </div>
  <% end %>

</div>

<div class="content-wrapper buffer-both text-left">
  <div class="buffer-both">
    <table class="table">
      <thead>
  <tr>
    <th>№ комнтаты</th>
    <th>Количество человек</th>
    <th>Комментарий</th>
  </tr>
  </thead>

  <tbody>
  <% @rooms.each do |room| %>
    <tr>
      <td><%= room.room_number %></td>
      <td><%= room.number_persons %></td>
      <td><%= room.comment %></td>
      <td><%= link_to "Подробнее", room_show_path, class: 'button button-small' %></td>
      <td><%= link_to "Редактировать", room_edit_path, class: 'button button-small' %></td>
      <td><%= link_to "Удалить", room_destroy_path, class: 'button button-small', method: :delete, data: { confirm: "Вы уверены?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

</div>
</div>
<br>


<%= link_to "Добавить", room_new_path, class: 'button button-light button-small' %>
