<%# Страница добавления данных %>


<div class="header">
  <div class="container">

    <div class="header-logo">
      <h1 class="header-title"><%= link_to "На главную", users_path, class: 'button button-light button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Студент", students_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Договор", contracts_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Комната", rooms_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Пропуск", badges_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Гость", guests_index_path, class: 'button-small' %></h1>
    </div>
    <div class="header-logo">
      <h1 class="header-title"><%= link_to "Оплата", payments_index_path, class: 'button-small' %></h1>
    </div>

    <div class="header-nav">
      <%= link_to 'Выйти', log_in_path, class: 'button button-light button-small' %>
    </div>
  </div>
</div>

<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Добавить комнату</h1>

  <div class="column-1-2">

    <%= form_for @room do |f| %>
      <%# Вывод ошибок валидации пользователя, если есть. Ошибки содержатся %>
      <% if @room.errors.any? %>
        <div class="form-errors">
          <ul>
            <% for message in @room.errors.full_messages %>
              <li class="form-error-message"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div class="form-field">
      <%= f.label :room_number, '№ комнаты', class: 'form-label' %>
      <%= f.text_field :room_number, class: 'form-text-field' %>
    </div>

    <div class="form-field">
      <%= f.label :number_persons, 'Количество человек', class: 'form-label' %>
      <%= f.text_field :number_persons, class: 'form-text-field' %>
    </div>

    <div class="form-field">
      <%= f.label :comment, 'Комментарий', class: 'form-label' %>
      <%= f.text_field :comment, class: 'form-text-field' %>
    </div>


    <div class="form-action buffer-top">
      <%= f.submit 'Сохранить', class: 'button button-dark button-small' %>
    </div>
    <% end %>

  </div>
</div>